:root {
  --primary-text-color: #212121;
  --primary-title-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primary-bcg-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */

.logo {
  color: #000000;
}

.logo-second {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: #757575;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-item {
  color: var(--primary-white-color);
}

.modal-btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.modal-btn:hover {
  background-color: var(--secondary-accent-color);
}

/* Main */

.section-title,
.section-title-item,
.title {
  color: var(--primary-text-color);
}

/* Advantages */

.advantages-list .title {
  color: var(--primary-text-color);
}

.decoration {
  color: var(--primary-title-color);
}

/*  Working*/

.working-list-item {
  background-color: var(--primary-bcg-color);
}

/* Our team */

.team-title-position {
  color: var(--primary-title-color);
}
/* Clients */

/* footer */

.footer-section {
  background-color: var(--primary-bcg-color);
  color: var();
}

.footer-section .logo {
  color: var(--primary-white-color);
}
.footer {
  color: var(--accent-color);
}

.adress-list .adress-list-item {
  color: rgba(255, 255, 255, 0.6);
}

.adress-list .adress-list-item-direction {
  color: var(--primary-white-color);
}
.footer-section .title {
  color: var(--primary-white-color);
}
