body {
  background-color: #fff;
  color: #212121;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Основной цвет текста #212121 */

/* Вторичный цвет текста #757575 */

/* белый #FFFFFF */

/* Вторичный #2F303A */

/* акцент #2196F3 */

/* акцент ховера #188CE8 */

/* Цвет футера #2F303A */

/* вторичный цвет фона #F5F4FA */

/*Стилизация логотипа*/
.logo {
  color: #000000;
}

.logo-second {
  color: #2196f3;
}

/* Header */

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav .link {
  color: #757575;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
